/* link stylesheet (goes in UI)
  tags$head(
    tags$link(rel = "stylesheet", type = "text/css", href = "styles.css"),
  )*/

/*import google fonts (Cardo & Oswald)*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');


/* element selectors */
h1 {
  font-family: 'Oswald', regular;
  color: #FFFFFF /* white */
}


h3 {
  font-family: 'Cardo', regular;
  color: #FFFFFF /* white */ 
}

.main-header {
  background-color: #38C6BC ;
}

.main-sidebar {
  background-color:#1B4FBE; /* blue */
  
}

button {
  #CA781C; /* orange */
}


/* class selectors */
.wide-letters {
  letter-spacing: 4px;
}