/* link stylesheet (goes in UI)
  tags$head(
    tags$link(rel = "stylesheet", type = "text/css", href = "styles.css"),
  )*/


@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

.skin-blue .body {
  font-family: 'Oswald', regular;
}

.skin-blue .main-header .navbar {
  background-color: #083462;
  color:  #E7F6FC;
}

.skin-blue .main-header .logo {
 font-family: 'Oswald', regular;
 background-color: #E7F6FC;
  color: #083462;
  font-size: 45px;
}

.skin-blue .box-header .box-title {
  font-family: 'Oswald', regular;
  color: #083462;
}

.btn-default {
    font-family: "Cardo", ital;
    background-color: #1172B9;
    color: #FAC104;
    border-color: #E7F6FC;
}

.skin-blue .main-sidebar {
  font-family: "Cardo", ital;
  color: #E7F6FC;
  background-color: #083462;
  border-color: #083462;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-size: 19px;
}

.skin-blue .main-sidebar .btn:active {
  color: #E7F6FC;
  background-color: #FAC104;
  border-color: #FAC104;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Override .skin-blue hover styles */
.skin-blue .main-sidebar .btn:hover {
  color: #FAC104; /* Text color when hovered */
  background-color: #01C8BB; /* Background color when hovered */
  border-color: #01C8BB; /* Border color when hovered */
}


.box-body {
  background-color: #E7F6FC;
  color: #00221C;
  
}














